#map {
    height: 100%;
    width: 75%;
    float: right;
}

#itinerary-panel{
    height: 100%;
}

#mode-panel{
    float: top;
    margin-left: auto;
}

#place-cards-container{
    float: bottom;
}

.site-icon{
    float: right;
}

.cards{
    height: 950px; /*Five Cards Length*/
    overflow-y: scroll;
}

.place-photo{
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 8px;
}

.place-medium-text{
    font-size: medium;
}

.place-large-text{
    font-size: large;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

}


