#map {
    height: 100%;
    width: 75%;
    float: right;
}

#itinerary-panel{
    height: 100%;
}

#mode-panel{
    padding-left: 32% ;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

