#map {
    height: 100%;
    width: 75%;
    float: right;
}

#itinerary-panel{
    height: 100%;
}

#mode-panel{
    float: top;
    margin-left: auto;
}

#place-cards-container{
    float: bottom;
}

.site-icon{
    float: right;
}

.cards{
    height: 950px; /*Five Cards Length*/
    overflow-y: scroll;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

}


