.add-trip-button {
  margin-top: 2.5rem;
}

#editor-map {
  min-height: 400px;
}

.placeholder-text {
  color: grey;
  font-size: 18px;
}

.trip-title-section {
  margin-left: 0 !important;
}

.trip-map {
  min-height: 300px;
  width: 100%;
}

.update-button {
  margin: 0 0.25em 0 0.25em;
}