.google-logo {
  margin: 9px 24px 0 0;
  width: 18px;
}

.hero-container {
  background: url(../assets/img/unsplash-travel.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  min-height: calc(50vh - 60px);
  padding-bottom: 50px;
}

.hero-text {
  margin-top: 0;
  padding-top: 1em;
  text-shadow: black 0 0 10px;
}

.info-container {
  background: whitesmoke;
  min-height: 50vh;
}
